<div class="content">
    <h2>Newsletters</h2>
    <div>
        <ul class="list_container">
            <% @newsletters.each do |newsletter| %>
                <%= render newsletter %>
            <% end %>
        </ul>
    </div>
</div>
