 <!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="row item round">
      <div class="span2">
      </div>
      <div class="span3">
          <%= image_tag 'images/banner/banner1.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Help for the needy.</h1>
            </div>
          </div>
      </div>
      <div class="span3">
      </div>
    </div>
    <div class="row item">
      <div class="span2">
      </div>
      <div class="span3">
          <%= image_tag 'images/banner/banner2.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Help for the needy.</h1>
            </div>
          </div>
      </div>
      <div class="span3">
      </div>
    </div>
    <div class="row item">
      <div class="span2">
      </div>
      <div class="span3">
          <%= image_tag 'images/banner/banner4.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Help for the needy.</h1>
            </div>
          </div>
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
