<div class="content">
    <div class="row show-grid">
    <div class="span1">
    </div>
    <div class="span7">
        <h1>LIFE AID ... THE WORK IN ZAMBIA</h1>
        <p>
        Whenever anyone asks me what we do in Zambia, or what sort of charity we are, I find it very difficult to answer.  Whilst most other charities and NGOs have a specific 'label', eg. orphans, AIDS relief, fresh water, education for the underprivileged or food distribution, we have no such single label.  Often times, we have been urged by well-meaning people to 'have a focus', and we fully understand why they are of this opinion but, from the time we first arrived, we were faced with so many desperate needs that we found it impossible to turn them away.  People have come to us, over the years, in dire straits, pleading for help for all sorts of reasons.  They need:
        </p>
        <p>
        <ul>
        <li>Medical care</li>
        <li>Food and clothing</li>
        <li>Education for their children</li>
        <li>Financial support to start up small businesses</li>
        <li>Financial support to repair their crumbling homes, washed away by torrential annual rains</li>
        </ul>
        </p>
        <p>
        As well as all these individual needs, there are institutions such as orphanages which are also in desperate need of support. 
        </p>
        <p>
        These are just some examples of the never-ending stream of needs we meet every day.  Zambia is a country which suffers from poverty, hunger, disease & sickness, lack of education and a huge orphan problem, exacerbated by the HIV epidemic which is killing off parents and other family members at an alarming rate.
        </p>
        <p>
        Perhaps you now appreciate how hard it is to 'have a focus' or to 'wear a label'.  If we were to pour ourselves, our resources, our time and our finances into one specific project or field, what would we do when someone came to us for help who didn't 'fit the criteria'?  How do we turn the suffering away because they don't meet our 'requirements'?  How do we refuse to help a tiny baby dying of malaria, for example, simply because he's not an orphan?  Or a hungry old man because he's not HIV positive?
        </p>
        <p>
        The answer is that we cannot ... and so we continue to help wherever and whenever we can.
        </p>
        </div>
    </div>
</div>
