<div class="content">
    <h1>Meet the life aid Zambians ... </h1>
    <div>
        <ul class="profiles">
            <% @users.to_a.each do |user| %>
                <% if user.show_user? %>
                    <%= render user %>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
