<div class="content round">
    <h2>Projects</h2>
    <ul class="list_container project">
        <% @projects.each do |project| %>
            <%= render project %>
        <% end %>
    </ul>
</div>
